/* Цвет фона #FFFFFF  */
/* Вторичный цвет фона #2F303A */
/* Акцент фона #F5F4FA */
/* Основной цвет текста #757575 */
/* Цвет загаловков #212121 */
/* Акцент #2196F3 */

:root {
    --bgc: #FFFFFF;
    --secondary-bgc: #2F303A;
    --bgc-accent: #F5F4FA;
    --text-color: #757575;
    --header-color: #212121;
    --accent-text: #2196F3;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    cursor: pointer;
}

ul,ol {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
    outline: 1px solid red;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    background-color: var(--bgc);
    color: var(--text-color);

    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* -----------------------------HEADER---------------------------- */
.header {

    padding-top: 25px;
    padding-bottom: 25px;
}

.logo {
    color: var(--header-color);
    text-decoration: none;

    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.7;
    }

.logo .first-word {
    color: var(--accent-text);
}

/* site-nav */

.site-nav a {
    color: var(--header-color);
    text-decoration: none;

    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.site-nav a:hover, 
.site-nav a:focus {
    color: var(--accent-text);
}

.site-nav .portfolio-link {
    color: var(--accent-text);
}

.site-nav .studio-link {
    color: var(--accent-text);
}
/* contacts */

.contacts a {
    color: var(--text-color);
    text-decoration: none;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts a:hover,
.contacts a:focus {
    color: var(--accent-text);
}

/* -------------------------------HERO---------------------------- */

.section-hero {
    background-color: var(--secondary-bgc);
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

h1 {
    color: var(--bgc);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

button {
    display:inline-block;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    background-color: var(--accent-text);
    color: var(--bgc);
    border-radius: 4px;
    border-style: none;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* --------------------FEATURES--------------------------- */

.features {
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 47px;
}



.title {
    color: var(--header-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}


/* -----------------------WORK------------------------------- */

.work {
    margin: 0 auto;
    padding-top: 47px;
    padding-bottom: 94px;
}
.main-title {
    color: var(--header-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
}

.list p {

    font-weight: 400;
    line-height: 1.7;
}

/* --------------------------TEAM---------------------------------- */

.team {
    background-color: var(--bgc-accent);
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.main-title {
    margin-bottom: 50px;
}

.caption {
    background-color: var(--bgc);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 270px;
    height: 130px;
    text-align: center;
}


.team-title {
    color: var(--header-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.team p {
    font-size: 16px;
    line-height: 1.19;
}

.project-link {
    text-decoration: none;
}

/* ----------------------------FOOTER---------------------------- */

 footer {
     background-color: var(--secondary-bgc);
     margin: 0 auto;
     padding-top: 60px;
     padding-bottom: 60px;

 }

 .footer-logo {
     color: var(--bgc);
     margin-bottom: 20px;
 }

 .footer-item {
     margin-bottom: 9px;
 }

.contacts-list {

    font-weight: 400;
    line-height: 1.7;
}

.contacts-list .fact-address {
    color: var(--bgc);
    font-style: normal;
}

.contacts-list .address {
    color: rgba(255, 255, 255, 0.6);;
    text-decoration: none;
    font-style: normal;
}

.contacts-list .address:hover,
.contacts-list .address:focus {
    color: var(--accent-text);
}


/* -------------------------PORTGOLIO-PAGE----------------------------- */

 
/* -----------------------------FILTERS------------------------------ */

.portfolio {
    margin: 0 auto;
    padding-top: 94px;
    margin-bottom: 94px;
}

li button {
    background-color: var(--bgc-accent);
    color: var(--header-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

li button:hover,
li button:focus {
    background-color: var(--accent-text);
    color: var(--bgc);
}

/* -------------------------------PROJECTS----------------------- */

li h2 {
    color: var(--header-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
 
li p {
    color: var(--text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
}

.caption-portfolio {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    width: 370px;
    height: 110px;
}
.portfolio-title {
    margin-bottom: 4px;
}